Pizza.Frontend.Kunde/Service References/PizzaService/PizzaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27244/PizzaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pizza.Backend" />
  <xs:element name="Alle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pizza.Backend" minOccurs="0" name="AlleResult" nillable="true" type="q1:ArrayOfPizzaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Speichern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pizza.Backend" minOccurs="0" name="pizza" nillable="true" type="q2:PizzaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpeichernResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>