Pizza.Frontend.Verwaltung/Service References/PizzaService/PizzaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27244/PizzaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27244/PizzaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27244/PizzaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pizza.Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PizzaService_Pizzen_InputMessage">
    <wsdl:part name="parameters" element="tns:Pizzen" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Pizzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:PizzenResponse" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Speichern_InputMessage">
    <wsdl:part name="parameters" element="tns:Speichern" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Speichern_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpeichernResponse" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Bestellen_InputMessage">
    <wsdl:part name="parameters" element="tns:Bestellen" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Bestellen_OutputMessage">
    <wsdl:part name="parameters" element="tns:BestellenResponse" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Bestellungen_InputMessage">
    <wsdl:part name="parameters" element="tns:Bestellungen" />
  </wsdl:message>
  <wsdl:message name="PizzaService_Bestellungen_OutputMessage">
    <wsdl:part name="parameters" element="tns:BestellungenResponse" />
  </wsdl:message>
  <wsdl:message name="PizzaService_AlleBestellungen_InputMessage">
    <wsdl:part name="parameters" element="tns:AlleBestellungen" />
  </wsdl:message>
  <wsdl:message name="PizzaService_AlleBestellungen_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlleBestellungenResponse" />
  </wsdl:message>
  <wsdl:portType name="PizzaService">
    <wsdl:operation name="Pizzen">
      <wsdl:input wsaw:Action="http://tempuri.org/PizzaService/Pizzen" message="tns:PizzaService_Pizzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PizzaService/PizzenResponse" message="tns:PizzaService_Pizzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Speichern">
      <wsdl:input wsaw:Action="http://tempuri.org/PizzaService/Speichern" message="tns:PizzaService_Speichern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PizzaService/SpeichernResponse" message="tns:PizzaService_Speichern_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bestellen">
      <wsdl:input wsaw:Action="http://tempuri.org/PizzaService/Bestellen" message="tns:PizzaService_Bestellen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PizzaService/BestellenResponse" message="tns:PizzaService_Bestellen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bestellungen">
      <wsdl:input wsaw:Action="http://tempuri.org/PizzaService/Bestellungen" message="tns:PizzaService_Bestellungen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PizzaService/BestellungenResponse" message="tns:PizzaService_Bestellungen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlleBestellungen">
      <wsdl:input wsaw:Action="http://tempuri.org/PizzaService/AlleBestellungen" message="tns:PizzaService_AlleBestellungen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PizzaService/AlleBestellungenResponse" message="tns:PizzaService_AlleBestellungen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PizzaService" type="tns:PizzaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pizzen">
      <soap:operation soapAction="http://tempuri.org/PizzaService/Pizzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Speichern">
      <soap:operation soapAction="http://tempuri.org/PizzaService/Speichern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bestellen">
      <soap:operation soapAction="http://tempuri.org/PizzaService/Bestellen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bestellungen">
      <soap:operation soapAction="http://tempuri.org/PizzaService/Bestellungen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlleBestellungen">
      <soap:operation soapAction="http://tempuri.org/PizzaService/AlleBestellungen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaService">
    <wsdl:port name="BasicHttpBinding_PizzaService" binding="tns:BasicHttpBinding_PizzaService">
      <soap:address location="http://localhost:27244/PizzaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>